{% extends "layouts/base_password_reset.html" %}

{% load static %}
{% block style %}

<style>
  .wrapper {
    margin: 5px auto;
  }
</style>

{% endblock %}
{% block content %}
<h1>Check your Email</h1>
<div class="col-10 wrapper" style="color: white;">
  <p class="text-left">
    We've emailed you instructions for resetting your password, if an account exists with the email you entered. You should receive them shortly.
  </p>
  <p class="text-left">
    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
  </p>
  <p class="text-left">
    If you continue having trouble regaining access to your account, contact us at <a href="mailto:support@audantic.com" style="text-decoration: underline; color: white;">support@audantic.com</a>
  </p>
</div>
{% endblock %}