{% autoescape off %}
Dear {{user.get_short_name}},

You're receiving this email because you requested a password reset for your Liveloop user account at audantic.com/liveloop.

To initiate the password reset process for your {{ user.get_username }} Liveloop Account, click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

If you did not make this request, please check that you still have access to your account.

Sincerely,

Audantic Customer Success 
{% endautoescape %}