{% extends "layouts/base_password_reset.html" %}

{% load static %}
{% block style %}

<style>
  .wrapper {
    margin: 5px auto;
  }
</style>

{% endblock %}
{% block content %}
{% if validlink %}
<h1>Reset password</h1>
<div class="col-5 wrapper"  style="color: white;">
  <form method="post">
    {% csrf_token %}
    <div class="form-group row">
      <input type="password" class="form-control form-control-lg" name="new_password1" placeholder="New Password" id="password-field"><span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
    <div class="text-left">

      {{form.new_password1.help_text}}
      <div class="text-danger">
        {{ form.new_password2.errors }}
      </div>
    </div>
      
    <div class="form-group row">
      <input type="password" class="form-control form-control-lg" name="new_password2" placeholder="Confirm New Password" id="confirm-field"><span toggle="#confirm-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-11">
        <button type="submit" class="btn btn-warning btn-block btn-lg text-white">Change Password</button>
      </div>
    </div>
  </form>
</div>
  {% else %}
  <h1>Invalid Link</h1>
<div  style="color: white;">
  <p class="text-left">
    The password reset link was invalid, possibly because it has expired or it has already been used.
    Please <a href="{% url 'password_reset' %}" style="text-decoration: underline; color: white;">request a new password reset</a>.
  </p>
</div>
  {% endif %}
{% endblock %}
{% block scripts %}
<script>
  $(".toggle-password").click(function() {
      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
      input.attr("type", "text");
      } else {
      input.attr("type", "password");
      }
  });
</script>

{% endblock %}